<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="shift">form</h3>
      <div class="form-style-10">
        <form id="shiftForm" method="POST" action="{% url 'formfunc' %}">
          {% csrf_token %}
       
          <div class="navlogo">
            
      
          </div>
          <div class="inner-wrap">
            <label>name <input type="text" name="field1" id="startTime" required /></label>
            <label>age <input type="text" name="field2" id="stopTime" required /></label>
            
          </div>
          <div class="button-section">
           
            <input type="submit" name="Sign Up" id="submitButton" />

          </div>
          <br>
      
          
        </form>
    <div>
    <div>

        <table class="table" id="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
               
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for j in datais %}
                <tr>
                <td>{{j.modelname}}</td>
                <td>{{j.modelage}}</td>
                
                </tr>
            </tbody>
            {% endfor %}                                                                                                                                                          
        </table>  
    </div>


        
</body>
</html>